    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    html {
        scroll-behavior: smooth;
        font-family: 'Montserrat', sans-serif !important;
    }
    
    html,
    body,
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: 0;
        -webkit-font-smoothing: antialiased;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    button {
        cursor: pointer;
    }
    
    input {
        width: 100%;
        border: none;
    }  
    
    input:-webkit-autofill,
    select:-webkit-autofill {
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 30px inset;
        -webkit-text-fill-color: rgb(19, 143, 206) !important;
    }
    
    .select-cinza {
        background-image: url("data:image/svg+xml;utf8,<svg fill='%23C8CDD1' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
    
    .select-azul {
        background-image: url("data:image/svg+xml;utf8,<svg fill='%23138FCE' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
    
    .select-vermelho {
        background-image: url("data:image/svg+xml;utf8,<svg fill='%23E2202C' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
    
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: -4px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 2rem;
    }
    /*** Styles added to fix the issue with zoom in on iphone ***/
    /* iPhone < 5: */
    
    @media screen and (device-aspect-ratio: 2/3) {
        select,
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"] {
            font-size: 16px;
        }
    }
    /* iPhone 5, 5C, 5S, iPod Touch 5g */
    
    @media screen and (device-aspect-ratio: 40/71) {
        select,
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"] {
            font-size: 16px;
        }
    }
    /* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
    
    @media screen and (device-aspect-ratio: 375/667) {
        select,
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"] {
            font-size: 16px;
        }
    }
    /* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
    
    @media screen and (device-aspect-ratio: 9/16) {
        select,
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"] {
            font-size: 16px;
        }
    }
    
    h1 {
        font-size: 2em;
        font-weight: bold;
        line-height: 3em;
    }
    
    h2 {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 2em;
    }
    
    h3 {
        font-size: 1.17em;
        font-weight: bold;
        line-height: 1.5em;
    }
    
    h4 {
        font-size: 1.00em;
        font-weight: bold;
        line-height: 1.17em;
    }
    
    h5 {
        font-size: 0.83em;
        font-weight: bold;
        line-height: 1.00em;
    }
    
    h6 {
        font-size: 0.67em;
        font-weight: bold;
        line-height: 0.83em;
    }
    /* CUSTOM Scroll bar  */
    
     ::-webkit-scrollbar {
        width: 6px !important;
    }
    
     ::-webkit-scrollbar-track {
        background: #f3f4f6 !important;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #011339;
        border-radius: 12px !important;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: #011339 !important;
    }
    
    .image-cover {
        object-fit: cover;
    } 


    .dzu-dropzone {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 120px;
        
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        transition: all .15s linear;
         
        border-radius: 4px;
      }
      
      .dzu-dropzoneActive {
        background-color: #DEEBFF;
        border-color: #2484FF;
      }
      
      .dzu-dropzoneDisabled {
        opacity: 0.5;
      }
      
      .dzu-dropzoneDisabled *:hover {
        cursor: unset;
      }
      
      .dzu-input {
        display: none;
      }
      
      .dzu-inputLabel {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-family: 'Helvetica', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #2484FF;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
      }
      
      .dzu-inputLabelWithFiles {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        padding: 0 14px;
        min-height: 32px;
        background-color: #E6E6E6;
        color: #2484FF;
        border: none;
        font-family: 'Helvetica', sans-serif;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        margin-top: 20px;
        margin-left: 3%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
      }
      
      .dzu-previewContainer {
        padding: 40px 3%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        min-height: 60px;
        z-index: 1;
        border-bottom: 1px solid #ECECEC;
        box-sizing: border-box;
      }
      
      .dzu-previewStatusContainer {
        display: flex;
        align-items: center;
      }
      
      .dzu-previewFileName {
        font-family: 'Helvetica', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
      }
      
      .dzu-previewImage {
        width: auto;
        max-height: 40px;
        max-width: 140px;
        border-radius: 4px;
      }
      
      .dzu-previewButton {
        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        cursor: pointer;
        opacity: 0.9;
        margin: 0 0 2px 10px;
      }
      
      .dzu-submitButtonContainer {
        margin: 24px 0;
        z-index: 1;
      }
      
      .dzu-submitButton {
        padding: 0 14px;
        min-height: 32px;
        background-color: #2484FF;
        border: none;
        border-radius: 4px;
        font-family: 'Helvetica', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #FFF;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
      }
      
      .dzu-submitButton:disabled {
        background-color: #E6E6E6;
        color: #333333;
        cursor: unset;
      }
      